//Primary colors
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: #585989;
$darkBlue: rgb(40, 35, 133);
$softBlue: hsl(243, 86%, 85%);

//Accent colors
$brightBlue: #3065f8;
$moderateCyan: #3c9f8f;

//Neutral
$LightGrayishBlue: #f6f6fe;
$lightGray: #bfbfbf;

$white: #fff;
