@import "fonts";

.main {
  // border: 7px solid green;
  background: linear-gradient(0.25turn, whitesmoke, 75%, $softBlue);

  .logo-navigation {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    // border: 7px solid yellow;

    #logo {
      width: 166px;
      height: 49px;
      margin-left: 1rem;
    }

    nav {
      li {
        display: inline-block;
        list-style: none;
        a,
        button {
          color: $white;
          font-size: 1rem;
          font-family: $primaryFont;
          font-weight: 500;
          margin-left: 1rem;
        }
        a {
          color: black;
        }
      }
    }
    @media screen and (max-width: 768px) {
      #logo {
        width: 90px;
        height: 30px;
      }
      nav {
        li {
          a,
          button {
            color: $white;
            font-size: 0.7rem;
            font-family: $primaryFont;
            font-weight: 500;
          }
        }
      }
    }
  }
  #wave-svg {
    display: block;
    width: 100%;
  }
}
