@import "fonts";

.hero {
  height: 500px;
  display: block;
  border: 1px solid #ccc;
  //background: linear-gradient(0.25turn, $darkBlue, 75%, $softBlue);
  .blue-gradient-hero {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 8px;

    #logo {
      width: 166px;
      height: 49px;
    }

    nav {
      li {
        display: inline-block;
        list-style: none;
        a,
        button {
          font-size: 1rem;
          font-family: $primaryFont;
          font-size: 1rem;
          font-weight: 500;
        }
        button {
          color: $white;
          background-color: $brightBlue;
          border: none;
          border-radius: 2px;
          padding: 10px 32px;
          margin-left: 30px;
          box-shadow: 1px 1px 7px rgba(40, 35, 133, 0.7);
        }
      }
    }
  }
  #logo {
    width: 166px;
    height: 49px;
  }

  nav {
    li {
      display: inline-block;
      list-style: none;
      a,
      button {
        font-size: 1rem;
        font-family: $primaryFont;
        font-size: 1rem;
        font-weight: 500;
      }
      button {
        color: $white;
        background-color: $brightBlue;
        border: none;
        border-radius: 2px;
        padding: 10px 32px;
        margin-left: 30px;
        box-shadow: 1px 1px 7px rgba(40, 35, 133, 0.7);
      }
    }
  }
}
