@import "fonts";

.header-container {
  height: 50%; //todo header container height is becoming smaller than the content height in smaller screens
  display: block;
  border: 2px solid red;
  background: linear-gradient(0.25turn, $darkBlue, 75%, $softBlue);
  .blue-gradient-hero {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    padding: 8px;

    #logo {
      width: 166px;
      height: 49px;
    }

    nav {
      li {
        display: inline-block;
        list-style: none;
        a,
        button {
          color: $white;
          font-size: 1rem;
          font-family: $primaryFont;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}
