@import "colors";
@import "global";
@import "buttons";
@import "header";
@import "body";
@import "mobile-design";

.hero {
  display: flex;
  //padding: 1rem;
  //border: 7px dashed red;
  padding: 4rem;
  align-items: center;
  .hero-text-container {
    width: 40%;
    // border: 3px solid $white;
    .hero-title {
      font-size: 2rem;
      color: black;
    }
    .hero-text {
      width: 100%;
      justify-content: right;
      font-size: 1rem;
      font-weight: 400;
      color: black;
      margin-bottom: 21px;
    }
    .email-form {
      display: flex;
      .input-field {
        //flex-grow: 4;
        box-sizing: content-box;
        min-width: 120px;
        border-radius: 2px;
        padding: 12px;
        border: 1px solid #ccc;
        width: 60%;
        //height: 100%;
        font-family: $primaryFont;
        outline-color: $softBlue;
      }
      button {
        //flex-grow: 3;
        width: 40%;
        box-sizing: content-box;
        min-width: 120px;
        margin-left: 10px;
        border-radius: 2px;
        padding: 2px;
      }
    }
  }
  .hero-image {
    // border: 3px solid $white;
    width: 40%;
    height: 40%;
    margin: auto auto;
    background-size: cover;
  }
}
@include mobile-design;

//todo: when the screen is narrowed the entire page collapses so avoid elements from collapsing when the screen is narrow
// @media screen and (max-width: 768px) {
//   #wrapper {
//     margin-left: auto;
//     margin-right: auto;
//     width: 768px;
//   }
// }
